*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
